* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.main {
  height: 100vh;
  width: 100%;
  background-color: white;
}
.nav {
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.nav1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav img {
  height: 100px;
  width: auto;
  margin-right: 90px;
  cursor: pointer;
}
.nav1 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav1 li {
  margin-right: 40px;
  font-size: 18px;
  font-weight: 500;
  font-style: oblique;
  text-transform: uppercase;
  cursor: pointer;
}
.nav1 ul :hover {
  border-bottom: 4px solid rgb(31, 30, 30);
}
.nav2 i {
  margin-right: 40px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.content {
  height: calc(100%-110px);
  width: 100%;
  position: relative;
  display: flex;
}
.content-left {
  height: 100px;
  width: 40%;
  padding: 80px 100px;
}
.content-left h5 {
  font-size: 20px;
  text-transform: capitalize;
  color: #555;
  margin-bottom: 10px;
}
.content-left h1 {
  font-size: 55px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 25px;
}
.content-left p {
  font-size: 20px;
  color: black;
  width: 80%;
  margin: 30px;
}
.btn {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 12px 40px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  border-top-left-radius: 0%;
}
.content-right {
  height: 100%;
  width: 60%;
  padding: 110px 100px;
  white-space: nowrap;
  overflow-x: auto;
}
.content-right::-webkit-scrollbar{
  display: none;

}
.product {
  height: 370px;
  width: 250px;
  background-color: #1011;
  position: relative;
  box-shadow: 0 5px 10px rgb(17, 0, 17, 0.3);
  display: inline-block;
  margin-right: 20px;
  
}
.product img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  bottom: 20%;
}
.product h4{
  font-size: 18px;
  text-transform: capitalize;
  position: absolute;
  bottom: 28%;
}
.catagory{
  position: absolute;
  bottom: 20%;
  font-weight: 500;
  text-transform: capitalize;
  
}
color{
  position: absolute;
  bottom: 15%;
  font-weight: 500;
  text-transform: capitalize;
}
.price{
  position: absolute;
  bottom: 12%;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
}
.button{
  position: absolute;
  bottom: 4%;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  color: blue;
  
}
.icons{
  margin-top: 14px; 
}


@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;}
